<%- include("templates/header") %>
    <div class="mt-5 mx-5">
        <h1 style='color: rgb(228, 68, 68); font-family:DM Serif Display; '>Error!</h1>
        <div><h3 style="font-family:DM Serif Display;"><%= error %></h6></div>
    </div>
<%- include("templates/footer") %>